@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* disabled since tailwind JIT mode does not allow @apply directive */

/* :root {
  @apply light;
}  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


.light {
  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(236, 33%, 92%);
  --color-bg-tertiary: hsl(233, 11%, 84%);
  --color-text-primary: hsl(235, 21%, 11%);
  --color-text-secondary: hsl(235, 24%, 19%);
  --color-text-accent: hsl(236, 9%, 61%);
}
.dark {
  --color-bg-primary: hsl(235, 21%, 11%);
  --color-bg-secondary: hsl(235, 24%, 19%);
  --color-bg-tertiary: hsl(234, 39%, 85%);
  --color-text-primary: hsl(0, 0%, 98%);
  --color-text-secondary: hsl(236, 33%, 92%);
  --color-text-accent: hsl(234, 11%, 52%);
}

.dashboard{
  width: 540px;
  align-content: center;
}


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

h1{
  font-size: 36px;
  
}